article {
    position: relative;
}

.addToFavoriteButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 15px;
}

.addToFavoriteButton.remove {
    background-color: green;
    color: #fff;
}
